assets/github.png
assets/github.png:Zone.Identifier
assets/IMG_0063.jpg
assets/IMG_0063.jpg:Zone.Identifier
assets/laptop_3-wallpaper-2048x1152.jpg
assets/laptop_3-wallpaper-2048x1152.jpg:Zone.Identifier
assets/linkedin.png
assets/linkedin.png:Zone.Identifier
assets/platzi.png
assets/platzi.png:Zone.Identifier
assets/youtube.png
assets/youtube.png:Zone.Identifier
assets/jj-logo.jpg
assets/twitter_PNG15.png
.gitignore
assets/computadora.jpg
assets/twitter.jpg
assets/t.png
